@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

* {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: #e0f7f7;
    padding: 12px 12px;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 0 13px;
    font-size: 23px;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul>li>a:hover {
    color: grey;
}

main {
    min-height: 90vh;
}

.container {
    background-color: rgb(202, 241, 228);
    max-width: 80vw;
    margin: auto;
    padding: 15px;
}
.container h1{
    padding: 12px;
}

input{
    min-width: 244px;
}
.btn{
    background-color: black;
    color: azure;
    padding: 9px 12px;
    border: 1px solid white
}
#resultCont div::first-letter{
    text-transform: uppercase;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    padding: 42px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: aqua;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        padding: 6px 0;
    }
}